Source: bsopack
Section: mail
Priority: optional
Maintainer: Pavel Andreew <sfpavel@users.sourceforge.net>
Build-Depends: debhelper (>> 4.0.0), libsmapi-dev(>=2.4-1), libfidoconf1-dev(>= 1.4-1), texinfo
Standards-Version: 3.6.1

Package: bsopack
Architecture: any
Depends: ${shlibs:Depends}
Description: Netmail Packer
 BSOpack is used to pack outgoing netmail for links. It works with
 HUSKY package and requires its files.

