Source: bsopack
Section: contrib/mail
Priority: optional
Maintainer: Pavel Andreew <pavel@collage.etel.ru>
Build-Depends: debhelper (>> 4.0.0), libsmapi2-dev(>=2.3.0-1), libfidoconf0-dev(>= 0.15-1), texinfo
Standards-Version: 3.5.6

Package: bsopack
Architecture: any
Depends: ${shlibs:Depends}
Description: Netmail Packer
 BSOpack is used to pack outgoing netmail for links. It works with
 HUSKY package and requires its files.

